################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DesignPattern.AbstractFactory.Test/bin/Debug
/DesignPattern.AbstractFactory.Test/obj/Debug
/DesignPattern.AbstractFactory.Test/obj/Debug
/DesignPatterns.Builder/obj/Debug
/DesignPatterns.AbstractFactory/bin/Debug
/DesignPatterns.AbstractFactory/obj/Debug
/DesignPatterns.Adopter/bin/Debug
/DesignPatterns.Adopter/obj/Debug
/DesignPatterns.Adopter/obj/Debug
/DesignPatterns.Bridge/bin/Debug
/DesignPatterns.Bridge/obj/Debug
/DesignPatterns.Builder/bin/Debug
/DesignPatterns.Business.Entities/obj/Debug
/DesignPatterns.Tests/obj/Debug
/DesignPatterns.Tests/bin/Debug
/DesignPatterns.Singleton/obj/Debug
/DesignPatterns.Singleton/bin/Debug
/DesignPatterns.Prototype/obj/Debug
/DesignPatterns.Prototype/bin/Debug
/DesignPatterns.Mediator/obj/Debug
/DesignPatterns.Mediator/bin/Debug
/DesignPatterns.Interpreter/obj/Debug
/DesignPatterns.Interpreter/bin/Debug
/DesignPatterns.FlyWeight/obj/Debug
/DesignPatterns.FlyWeight/bin/Debug
/DesignPatterns.FactoryMethod/obj/Debug
/DesignPatterns.FactoryMethod/bin/Debug
/DesignPatterns.Decorator/obj/Debug
/DesignPatterns.Decorator/bin/Debug
/DesignPatterns.Composite/obj/Debug
/DesignPatterns.Composite/bin/Debug
/DesignPatterns.Command/obj/Debug
/DesignPatterns.Command/bin/Debug
/DesignPatterns.Business.Entities/bin/Debug
/DesignPatterns.ChainOfResponsiblity/bin/Debug
/DesignPatterns.ChainOfResponsiblity/obj/Debug
